<nav class="navbar">
	<a class="nav-og-title bold wideText" href='{{ site.url }}'>PAMPANGA DEVELOPERS</a>
	<a  class="nav-social-items" href="">{% include facebook.svg %}</a>
	<a  class="nav-social-items" href="">{% include twitter.svg %}</a>
	<a  class="nav-social-items" href="">{% include instagram.svg %}</a>
	<a  class="nav-social-items last" href="">{% include rss.svg %}</a>
	<div class="nav-description bold wideText">COMMUNITY OF ICT PROFESSIONALS AND STUDENTS BASED IN CENTRAL LUZON</div>
</nav>
