.navbar {
	min-height: 10px;
	display: inline-block;
	width: 100%;
}

.nav-og-title {
	padding: 15px 15px 15px 0px;
	float: left;
}

.nav-social-items {
	padding: 15px 1px 5px 3px;
	margin-top: 2px;
	float: left;
	svg {
		height: auto;
		width: 15px;
	}
}

.nav-description {
	float: right;
	padding: 15px 0px;
	font-size: 15px;
}